.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  max-width: 400px;
  margin: auto;

  h2 {
    margin-bottom: 2rem;
  }
}
